@media screen and (min-width: 1400px)
    header
        .container-fluid
            &.fixed-top
                .header
                    .header__nav
                        margin-left: 30px 
                      
@media screen and (min-width: 1341px)
    header
        &.header__home
            .container-fluid
                &.fixed-top
                    .header
                        .header__nav
                            .header__list-nav
                                .header__item
                                    .header__phoneMobile
                                    .header__link
                                        color: #fff
                &.scrolled
                    .header
                        .header__nav
                            .header__list-nav
                                .header__item
                                    .header__phoneMobile
                                    .header__link
                                        color: #000
@media screen and (min-width: 1320px) and (max-width: 1359px)
    header
        .container-fluid
            &.fixed-top
                .header
                    .header__nav
                        margin-left: 5px 
@media screen and (min-width: 1300px)
    .container
        max-width: 1196px
    .specialists
        .container
            .row
                &.specialists__top
                    .specialists__listTop
                        .specialists__itemTop
                            flex-basis: 588px
@media screen and (min-width: 1200px) 
    .main__container
        max-width: 1196px
@media screen and (max-width: 1340px)
    header
        .container-fluid            
            &.container__header
                .header
                    position: relative
                    .header__nav
                        display: none
                        width: 100%
                        position: absolute
                        left: 50%
                        top: 150px
                        transform: translate(-50%, 0px)
                        padding: 0 30px
                        &.is-active
                            display: block
                        .header__list-nav
                            // height: calc(100vh - 150px)
                            background: #FFF
                            flex-direction: column
                            padding-top: 40px
                            border-top: 2px solid $accent
                            .header__item
                                margin-bottom: 30px
                                .header__link
                                    font-size: 24px
                                    line-height: 24px
                                    &.submenu
                                        &.is-active
                                            &:before
                                                top: 7px
                                                transform: rotate(180deg)
                                    &.is-active
                                .header__subList
                                    position: relative
                                    min-width: auto
                                    top: 0
                                    padding: 15px 20px 0px
                                    text-align: center
                                    .header__item
                                        .header__subLink
                                            font-size: 22px
                
                    .header__function
                        padding-right: 70px
                .burger-menu
                    .burger-menu__button
                        display: block
            &.scrolled
                .header
                    .header__nav
                        top: 102px
            
        &.header__home
            .container-fluid
                &.container__header
                    .header
                        position: relative
                        .header__nav
                            display: none
                            width: 100%
                            position: absolute
                            left: 50%
                            transform: translate(-50%, 0px)
                            padding: 0 30px
                            &.is-active
                                display: block
                            .header__list-nav
                                // height: calc(100vh - 150px)
                                background: #FFF
                                flex-direction: column
                                padding-top: 40px
                                border-top: 2px solid $accent
                                .header__item
                                    margin-bottom: 30px
                                    .header__link
                                        font-size: 24px
                                        line-height: 24px
                                        &.submenu
                                            &.is-active
                                                &:before
                                                    top: 7px
                                                    transform: rotate(180deg)
                                        &.is-active
                                    .header__subList
                                        position: relative
                                        min-width: auto
                                        top: 0
                                        padding: 15px 20px 0px
                                        text-align: center
                                        .header__item
                                            .header__subLink
                                                font-size: 22px
                    
                        .header__function
                            padding-right: 70px
                    .burger-menu
                        .burger-menu__button
                            display: block
                        &.is-active
                            .burger-menu__button
                                 .burger-menu__lines
                                     background-color: transparent

                                    

            
@media screen and (min-width: 1240px) and (max-width: 1300px)
    .about__specialists
        .container
            .row
                &.about__bottom
                    .about__title
                        .about__listBottom
                        .about__itemBottom
                            &:nth-child(1), &:nth-child(2)
                                flex-basis: 548px
@media screen and (max-width: 320px)
    .services__home
        margin-top: -80px
        .services__wrapper
            .row
                .services__list
                    .services__item
                        width: 80px
                        height: 90px