

@media screen and (min-width: 1400px)
    header
        .container-fluid
            &.fixed-top
                .header
                    .header__nav
                        margin-left: 45px

@media screen and (min-width: 1341px)
    header
        &.header__home
            .container-fluid
                &.fixed-top
                    .header
                        .header__nav
                            .header__list-nav
                                .header__item
                                    .header__phoneMobile
                                    .header__link
                                        color: #fff
                                        transition: 0.2s all linear
                &.scrolled
                    .header
                        .header__nav
                            .header__list-nav
                                .header__item
                                    .header__phoneMobile
                                    .header__link
                                        color: #000
                                        transition: 0.2s all linear
@media screen and (min-width: 1320px) and (max-width: 1359px)
    header
        .container-fluid
            &.fixed-top
                .header
                    .header__nav
                        margin-left: 15px
@media screen and (min-width: 1300px)
    .container
        max-width: 1196px
    .specialists
        .container
            .row
                &.specialists__top
                    .specialists__listTop
                        .specialists__itemTop
                            flex-basis: 588px
@media screen and (min-width: 1200px)
    .main__container
        max-width: 1196px
@media screen and (max-width: 1340px)
    header
        .container-fluid
            &.container__header
                .header
                    position: relative
                    .header__nav
                        display: none
                        width: 100%
                        height: calc( 100vh - 145px )
                        position: absolute
                        left: 50%
                        top: 150px
                        transform: translate(-50%, 0px)
                        padding: 0 30px
                        transition: 0.3s all linear
                        &.is-active
                            display: block
                            height: calc( 100vh - 145px )
                            transition: 0.3s all linear
                        .header__list-nav
                            height: 100%
                            overflow-y: auto
                            justify-content: flex-start
                            background: #FFF
                            flex-direction: column
                            padding-top: 40px
                            border-top: 2px solid $accent
                            .header__item
                                margin-bottom: 30px
                                text-align: center
                                .header__link
                                    font-size: 24px
                                    line-height: 24px
                                .header__subList
                                    position: relative
                                    min-width: auto
                                    top: 0
                                    padding: 15px 20px 0px
                                    text-align: center
                                    .header__item
                                        .header__subLink
                                            font-size: 22px
                    .header__function
                        padding-right: 70px
                .burger-menu
                    top: 46px
                    .burger-menu__button
                        display: block
            &.scrolled
                .header
                    .header__nav
                        top: 68px
                        height: calc( 100vh - 68px )
                        &.is-active
                            height: calc( 100vh - 68px )
                .burger-menu
                    top: 12px

        &.header__home
            .container-fluid
                &.container__header
                    .header
                        position: relative
                        .header__nav
                            display: none
                            width: 100%
                            position: absolute
                            left: 50%
                            transform: translate(-50%, 0px)
                            padding: 0 30px
                            height: calc( 100vh - 145px )
                            &.is-active
                                display: block
                                height: calc( 100vh - 145px )
                            .header__list-nav
                                background: #FFF
                                flex-direction: column
                                padding-top: 40px
                                border-top: 2px solid $accent
                                height: 100%
                                overflow-y: auto
                                justify-content: flex-start
                                .header__item
                                    margin-bottom: 30px
                                    text-align: center
                                    .header__link
                                        font-size: 24px
                                        line-height: 24px
                                        &.is-active
                                    .header__subList
                                        position: relative
                                        min-width: auto
                                        top: 0
                                        padding: 15px 20px 0px
                                        text-align: center
                                        .header__item
                                            .header__subLink
                                                font-size: 22px

                        .header__function
                            padding-right: 70px
                    .burger-menu
                        .burger-menu__button
                            display: block
                        &.is-active
                            .burger-menu__button
                                .burger-menu__lines
                                    background-color: transparent
                &.scrolled
                    .header
                        .header__nav
                            top: 68px
                            height: calc( 100vh - 68px )
                            &.is-active
                                height: calc( 100vh - 68px )

@media screen and (min-width: 1240px) and (max-width: 1300px)
    .about__specialists
        .container
            .row
                &.about__bottom
                    .about__title
                        .about__listBottom
                        .about__itemBottom
                            &:nth-child(1), &:nth-child(2)
                                flex-basis: 548px
@media screen and (min-width: 1199px) and (max-width: 1299px)
    .services__home 
        .services__wrapper 
            .row 
                .services__list                     
                    .services__item:nth-child(5)
                        margin-right: 0px
                    .services__item:nth-child(6n)
                        margin-right: 15px
    .gallery 
        .container 
            .row 
                .gallery__list
                    justify-content: space-around
                    .gallery__item
                        margin: 0 auto 20px
                        &:nth-child(3n)
                            margin: 0 auto 20px
@media screen and (min-width: 992px) and (max-width: 1299px)
    .about__specialists
        .container
            .row
                &.about__bottom
                    .about__listBottom
                        justify-content: space-between
                        .about__itemBottom
                            flex-basis: auto
                            width: 48% 
                            &:nth-child(1), &:nth-child(2)
                                flex-basis: auto
                                width: 48% 
                                .about__link
                                    .about__info
                                        text-align: center
                                        .about__date
                                            font-weight: 300
                                            font-size: 24px
                                            line-height: 28px
                                            padding-top: 30px
                                            padding-bottom: 15px
                                            margin: 0 auto
                                        .about__description                    
                                            font-weight: 300
                                            font-size: 18px
                                            line-height: 21px
                                            padding: 0 15px 10px
                                            margin: 0 auto
                                            min-height: 125px
    .specialists 
        .container 
            .row
                &.specialists__top 
                    .specialists__listTop
                        justify-content: space-between 
                        .specialists__itemTop
                            flex-basis: auto
                            width: 49%
                            margin: 0 0 20px
                &.specialists__bottom 
                    .specialists__listBottom 
                        justify-content: space-between 
                        .specialists__itemBottom
                            flex-basis: auto
                            width: 49%
                            margin: 0 0 20px
@media screen and (min-width: 577px) and (max-width: 1024px)
    header
        .container-fluid
            &.container__header 
                .header 
                    .header__nav
                        padding: 0
                        top: 135px
                        &.is-active
                            min-height: calc( 100vh - 135px)
                            height: 100%
                        .header__list-nav
                            padding-bottom: 40px
                &.scrolled
                    .header 
                        .header__nav
                            top: 68px
                            &.is-active
                                min-height: calc( 100vh - 68px)
                                height: 100%
                            .header__list-nav
                                padding-bottom: 40px
        &.header__home 
            .container-fluid
                &.container__header 
                    .header 
                        .header__nav
                            padding: 0
                            top: 135px
                            &.is-active
                                min-height: calc( 100vh - 135px)
                                height: 100%
                    &.scrolled
                        .header 
                            .header__nav
                                top: 68px
                                &.is-active
                                    min-height: calc( 100vh - 68px)
                                    height: 100%
                &.fixed-top 
                    .burger-menu
                        top: 46px
                    &.scrolled
                        .burger-menu
                            top: 12px
                
@media screen and (max-width: 769px)
    header
        .container-fluid
            &.container__header
                .header
                    .header__nav
                        width: 100vw
                        top: 135px
                        padding: 0 0px
                        .header__list-nav
                            background: #FFF
                            flex-direction: column
                            padding-top: 40px
                            border-top: 2px solid $accent
                    .header__function
                        padding-right: 70px
            &.scrolled
                .header
                    .header__nav
                        top: 68px

        &.header__home
            .container-fluid
                &.container__header
                    .header
                        .header__nav
                            width: 100vw
                            padding: 0 0px
                            top: 135px
                &.scrolled
                    .header
                        .header__nav
                            top: 68px
        &.is-active
            .header
                .header__function
                    .header__phone
                        color: #000
@media screen and ( max-width: 576px )
    header
        .container-fluid
            &.container__header
                .header
                    .header__nav
                        height: calc( 100vh - 95px )
                        .header__list-nav
                        &.is-active
                            height: calc( 100vh - 95px )
                .burger-menu
                    top: 24px
            &.scrolled
                .header
                    .header__nav
                        height: calc( 100vh - 55px )
                        &.is-active
                            height: calc( 100vh - 55px )
                .burger-menu
                    top: 6px
        &.header__home
            .container-fluid
                &.container__header
                    .header
                        .header__nav
                            height: calc( 100vh - 95px )
                            .header__list-nav
                            &.is-active
                                height: calc( 100vh - 95px )
                &.scrolled
                    .header
                        .header__nav
                            height: calc( 100vh - 55px )
                            &.is-active
                                height: calc( 100vh - 55px )
@media screen and (max-width: 320px)
    header
        &.header__home
            .container-fluid
                &.fixed-top
                    .header
                        .header__nav
                            .header__list-nav
                                .header__item
                                    margin-bottom: 20px
    .services__home
        margin-top: -80px
        .services__wrapper
            .row
                .services__list
                    .services__item
                        width: 80px
                        height: 90px
    .pagenews__banner
        max-width: 300px
